@using DocProcessingWorkflow.Resources.User


@{
  ViewBag.Title = Remove.Title;
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>@LockedOut.Locked</h2>
        <div>Please contact your administrator.</div>
    </div>
    
</div>

