<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="BBOS" providerName="System.Data.SqlClient" connectionString="Data Source=srv-dg-bravura4.dstoutput.co.uk;Initial Catalog=nexdox_BBOS_DEV;Integrated Security=True" />
    <add name="ADF" providerName="System.Data.SqlClient" connectionString="Data Source=srv-dg-bravura4.dstoutput.co.uk;Initial Catalog=nexdox_BBOS_ADF;Integrated Security=True" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>