<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="BBOS" providerName="System.Data.SqlClient" connectionString="Data Source=srv-dg-bravura4.dstoutput.co.uk;Initial Catalog=nexdox_BBOS_DEV;Integrated Security=True" />
    <add name="AppDb" providerName="System.Data.SqlClient" connectionString="Data Source=srv-dg-bravura4.dstoutput.co.uk;Initial Catalog=nexdox_BBOS;Integrated Security=True" />
    <add name="ADF" providerName="System.Data.SqlClient" connectionString="Data Source=srv-dg-bravura4.dstoutput.co.uk;Initial Catalog=nexdox_BBOS_ADF;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="from" value="support@nexdox.com" />
    <add key="to" value="paul@nexdox.com;bolanleilumoka@dstoutput.co.uk" />
    <add key="subject" value="Bank Of New York Pull Authorisation" />
    <add key="mailServer" value="mail.nexdox.net" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <sessionState mode="InProc" timeout="20"></sessionState>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5" />
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="short" duration="10" />
          <add name="medium" duration="30" />
          <add name="long" duration="60" />
          <add name="veryLong" duration="180" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <pages>
			<namespaces>
				<add namespace="MvcPaging" />
			</namespaces>
		</pages>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <nlog throwException="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" layout="${longdate} ${level} ${logger} ${message} ${exception:format=ToString,StackTrace}" fileName="${basedir}/Logs/BBOS_${date:format=ddMMyyyy}.txt" keepFileOpen="false" encoding="iso-8859-2" />
      <target xsi:type="Mail" name="Mail" html="true" subject="Error generated from BBOS" to="paul@nexdox.com, bolanleilumoka@dstoutput.co.uk" from="noreply@dstoutput.co.uk" body="${longdate} ${level} ${logger} ${message} ${exception:format=ToString,StackTrace}" smtpServer="mail.nexdox.net" smtpPort="25" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="file" />
      <logger name="*" minlevel="Error" writeTo="file" />
      <logger name="*" minlevel="Error" writeTo="Mail" />
    </rules>
  </nlog>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>