<?xml version="1.0"?>
<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="BBOS" connectionString="Data Source=srv-dg-bravura4.dstoutput.co.uk;Initial Catalog=nexdox_BBOS_DEV;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="AppDb" connectionString="Data Source=srv-dg-bravura4.dstoutput.co.uk;Initial Catalog=nexdox_BBOS_DEV;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <appSettings>
    <add key="to" value="paul@nexdox.com;bolanleilumoka@dstoutput.co.uk;pritpaldulku@dstoutput.co.uk;bethhanlon@dstoutput.co.uk;asaburrows@dstoutput.co.uk;richardstevens@dstoutput.co.uk;jeremywhittaker@dstoutput.co.uk" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off" xdt:Transform="Replace" />
  </system.web>
</configuration>
